// File copy+pasted from vuetify settings/_theme.styl

@require '../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: #7289da
  accent: #99aab5
  secondary: #23272a
  info: $blue.base
  warning: $amber.base
  error: $red.accent-2
  success: $green.base
}

// NOTE: this theme is not complete; it'll likely collide with things
$material-dark := {
  status-bar: {
    regular: #000000,
    lights-out: rgba(#000, .2)
  },
  app-bar: $theme.primary
  background: #2c2f33,
  cards: $theme.secondary
  chips: {
    background: $grey.darken-1,
    color: rgba(#fff, .87)
  },
  dividers: rgba(#fff, .2),
  text: {
    theme: #fff,
    primary: #fff,
    secondary: rgba(#fff, .70),
    disabled: rgba(#fff, .50),
    link: $theme.primary,
    link-hover: $theme.accent
  },
  icons: {
    active: #fff,
    inactive: rgba(#fff, .5)
  },
  buttons: {
    disabled: rgba(#fff, .3),
    focused: rgba(#fff, .12),
    focused-alt: rgba(#fff, .1),
    pressed: rgba(#ccc, .25)
  },
  expansion-panels: {
    focus: rgba(#000, .70)
  },
  selection-controls: {
    thumb: {
      inactive: $grey.lighten-1,
      disabled: $grey.darken-3
    },
    track: {
      inactive: rgba(#fff, .3),
      disabled: rgba(#fff, .1)
    }
  },
  slider: {
    active: rgba(#fff, .3),
    inactive: rgba(#fff, .2),
    disabled: rgba(#fff, .2),
    discrete: #fff
  },
  tabs: {
    active: $theme.primary,
    inactive: rgba(#000, .70)
  },
  input-bottom-line: rgba(#fff, .7),

  stepper: {
    active: rgba(#fff, 1),
    completed: rgba(#fff, 0.87),
    hover: rgba(#fff, 0.75)
  },
  table: {
    active: #505050
    hover: $grey.darken-2
  },
  picker: {
    body: $theme.primary,
    clock: $grey.darken-2,
    title: $grey.darken-2
  },

  bg-color: #2c2f33
  fg-color: #fff
  text-color: #fff
  primary-text-percent: 1
  secondary-text-percent: .70
  disabledORhints-text-percent: .50
  divider-percent: .12
  active-icon-percent: 1
  inactive-icon-percent: .50
}

@require '../node_modules/vuetify/src/stylus/settings/_theme'