.card.warning {
    display: inline-block;
    max-width: 50%;
    min-width: 20%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.card.warning :last-child {
    margin-bottom: 0;
}

.chip--has-destination {
    cursor: pointer;
}

.flex--right {
    justify-content: flex-end;
}
.flex--space-between {
    justify-content: space-between;
}
.flex--space-between.column {
    height: 100%;
}
.flex--space-between.row {
    width: 100%;
}
.flex--no-grow {
    flex-grow: 0;
}

.hero {
    padding: 10rem 0rem;
}

.list--group .list--no-pad-left .list__tile {
    padding-left: 16px;
}