.card.warning {
    display: inline-block;
    max-width: 50%;
    min-width: 20%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.card.warning :last-child {
    margin-bottom: 0;
}

.chip--has-destination {
    cursor: pointer;
}

.flex--right {
    justify-content: flex-end;
}
.flex--space-between {
    justify-content: space-between;
}
.flex--space-between.column {
    height: 100%;
}
.flex--space-between.row {
    width: 100%;
}
.flex--no-grow {
    flex-grow: 0;
}

.list--group .list--no-pad-left .list__tile {
    padding-left: 16px;
}

.badge--status .badge__badge {
    bottom: 2px;
    right: 2px;
    top: auto;
    border: solid 5px #2c2f33 !important;
    height: 32px;
    width: 32px;
}

.pagination__item {
    outline: none;
}
