@require './themes/discord'
@require '../node_modules/vuetify/src/stylus/main'

.footer {
    background: $theme.secondary !important;
}

.badge--status .badge__badge {
    bottom: 2px;
    right: 2px;
    top: auto;
    border: solid 5px $material-theme.background !important;
    height: 32px;
    width: 32px;
}